<!-- <app-header [title]="title"></app-header> -->
<app-header [appConfig]="applicationConfig" (menuClick)="onMenuClicked($event)"></app-header>
<!--
    (menuClick)="onMenuClicked()"
        |
        V
    HeaderComponent.menuClick.subcribe($event => {
        onMenuClicked($event)
    })
-->
<!-- <app-sidenav
    [drawerOpened]="drawerOpenedStore()"
    (drawerOpenedChange)="toggleDrawer()"
></app-sidenav> -->
<app-sidenav
    [drawerOpened]="drawerOpenedStore()"
    (drawerOpenedChange)="drawerOpenedStore.set($event)"
></app-sidenav>
<!-- <app-sidenav
    [(drawerOpened)]="drawerOpenedStore"
></app-sidenav> -->
<!-- <app-products-list></app-products-list> -->
